<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>126164698572-jqa5f34fgmd3rrp20m21gp1f8j26vooi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126164698572-jqa5f34fgmd3rrp20m21gp1f8j26vooi</string>
	<key>API_KEY</key>
	<string>AIzaSyA_hpNF3iJ2QYtn2TeKKr2CJWrVkXK94nM</string>
	<key>GCM_SENDER_ID</key>
	<string>126164698572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.penguinexpedition.ios.calendarlog</string>
	<key>PROJECT_ID</key>
	<string>calendarlog-server</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarlog-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126164698572:ios:5ef5af60debe18f1</string>
	<key>DATABASE_URL</key>
	<string>https://calendarlog-server.firebaseio.com</string>
</dict>
</plist>